:root {
--slideshow-bg: blue; 

}


#slideshow {
background: url("bilde/logo.png");
position: relative;
left: 2em;
top: 4em;
width: calc(100% - 4em);
height: calc(100% - 4em);
border: 4px solid #BF0303;
background-color: var(--slideshow-bg);
animation: slideshow 2s steps(1) infinite;

}
#bunn {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 15%;
    background:url(".jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background: magenta;
}

@keyframes slideshow {
0% {background-image: url("bilder/logo.png")}
50% {background-image: url("bilder/memes.jpg")}

}